@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
       url('../assets/font/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('../assets/font/Roboto/Roboto-Regular.woff') format('woff');
  font-size: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
       url('../assets/font/Roboto/Roboto-Bold.woff2') format('woff2'),
       url('../assets/font/Roboto/Roboto-Bold.woff') format('woff');
  font-size: 700;
  font-style: normal;
  font-display: swap;
}
