/* Main */
@import 'normalize.css';
@import 'variables.css';
@import 'fonts.css';

/* Components */
@import 'components/header.css';
@import 'components/hero.css';
@import 'components/about-us.css';
@import 'components/how-we-works.css';
@import 'components/questions.css';
@import 'components/footer.css';

/* Other */
body {
  min-width: 320px;
  font-family: 'Montserrat';
  background-color: var(--white);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.section-offset {
  margin-bottom: 50px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.button {
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

::-webkit-scrollbar {
  display: none;
}
