:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray-dark: #414141;
  --gray-silver: #666666;
  --gray-opacity: #00000080;
  --gray-light: #CACACA;
  --orange: #FF9900;
  --orange-hover: #FFB84D;
  --orange-active: #E1670E;
  --lime: #97EE3F;
}
