.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
  color: var(--black);
}

.about__descr {
  max-width: 1235px;
  color: var(--black);
}

.about__more-container {
  display: flex;
  width: 100%;
}

.about__left {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 868px;
  min-height: 622px;
  margin-right: 32px;
  background: url('../../assets/img/abou-us-bg.jpg') no-repeat center center / cover;
  border-radius: 32px;
}

.about__left-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  background: var(--gray-opacity);
  color: var(--white);
  border-radius: inherit;
}

.about__left-descr {
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.about__left-button {
  width: fit-content;
  height: fit-content;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  border: 3px solid var(--orange);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about__left-button:focus {
  background-color: var(--orange);
}

.about__left-button:hover {
  background-color: var(--orange);
}

.about__left-button:active {
  background-color: var(--orange-active);
  border: 3px solid var(--orange-active);
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__right-box {
  display: flex;
  width: 100%;
  max-width: 870px;
  padding: 63px 114px 65px 59px;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 32px;
}

.about__right-img-top {
  flex-shrink: 0;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background: url('../../assets/svg/about-us-top.svg') no-repeat center center / contain;
}

.about__right-content {
  display: flex;
  flex-direction: column;
}

.about__right-title {
  margin-bottom: 8.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
}

.about__right-descr {
  color: var(--black);
}

.about__right-img-bottom {
  flex-shrink: 0;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background: url('../../assets/svg/about-us-bottom.svg') no-repeat center center / contain;
}
