.footer {
  width: 100%;
  min-height: 594px;
  padding: 50px 0;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  color: var(--gray-light);
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
}

.footer__logo {
  width: 224px;
  height: 72px;
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.footer__nav-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
}

.footer__nav-link:hover {
  color: var(--orange);
}

.footer__nav-link:active {
  outline: none;
  color: var(--orange-active);
}

.footer__social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  outline: none;
}

.footer__social-link path {
  fill: var(--gray-silver);
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
}

.footer__social-link:hover path {
  fill: var(--orange);
}

.footer__social-link:active path {
  fill: var(--orange-active);
}

.footer__social-link:active {
  outline: none;
}

.footer__social-link-ok {
  margin-right: 21px;
}

.footer__center {
  width: 100%;
  max-width: 570px;
}

.footer__center-title {
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  width: 100%;
  min-height: 60px;
  padding: 14px 24px;
  margin-bottom: 25px;
  color: var(--white);
  background-color: var(--gray-dark);
  outline: none;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.footer__input::placeholder {
  color: var(--gray-light);
}

.footer__input:focus {
  background-color: var(--gray-silver);
}

.footer__input:hover {
  background-color: var(--gray-silver);
}

.footer__input:active {
  background-color: var(--gray-silver);
}

.footer__textarea {
  width: 100%;
  min-height: 150px;
  padding: 22px 24px;
  margin-bottom: 32px;
  color: var(--white);
  background: var(--gray-dark);
  resize: none;
  outline: none;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.footer__textarea::placeholder {
  color: var(--gray-light);
}

.footer__textarea:focus {
  background-color: var(--gray-silver);
}

.footer__textarea:hover {
  background-color: var(--gray-silver);
}

.footer__textarea:active {
  background-color: var(--gray-silver);
}

.footer__send-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  padding: 19px 52px;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease-in-out;
}

.footer__button:focus {
  background-color: var(--orange-hover);
}

.footer__button:hover {
  background-color: var(--orange-hover);
}

.footer__button:active {
  background-color: var(--orange-active);
}

.footer__checkbox-label {
  position: relative;
  display: block;
  margin-right: 3px;
  padding-left: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-in-out;
}

.footer__checkbox-label:hover {
  color: var(--white);
}

.footer__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8.5px;
  left: 22px;
  height: 14px;
  width: 14px;
  border: 1px solid var(--gray-light);
  border-radius: 2px;
  transition: border 0.3s ease-in-out;
}

.footer__checkbox-label:hover .checkmark {
  border: 1px solid var(--white);
}

.footer__checkbox:checked ~ .checkmark {
  background: url('../../assets/svg/footer-check-mark.svg') no-repeat center center / 10px;
}

.footer__right {
  display: flex;
}

.footer__right-descr {
  align-self: center;
  max-width: 363px;
}
