.hero {
  margin-bottom: 51px;
}

.hero__container {
  position: relative;
  width: 100%;
  min-height: 620px;
  border-radius: 32px;
  overflow: hidden;
  padding: 100px 80px;
  background-color: grey;
}

.hero__content {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  max-height: 342px;
  overflow: hidden;
  color: var(--white);
}

.hero__title {
  max-width: 837px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__descr {
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__button {
  position: relative;
  z-index: 2;
  margin-top: 90px;
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28px;
  transition: background-color 0.3s ease-in-out;
}

.hero__button:focus {
  background-color: var(--orange-hover);
}

.hero__button:hover {
  background-color: var(--orange-hover);
}

.hero__button:active {
  background-color: var(--orange-active);
}

.hero__image-pg1 {
  width: 100%;
  height: 100%;
  background: url('../../assets/img/hero-bg1.jpg') no-repeat center center / cover;
}

.hero__image-pg2 {
  width: 100%;
  height: 100%;
  background: url('../../assets/img/hero-bg2.jpg') no-repeat center center / cover;
}

.hero__image-pg3 {
  width: 100%;
  height: 100%;
  background: url('../../assets/img/hero-bg3.jpg') no-repeat center center / cover;
}

/* Swiper */

.swiper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 25.5px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,15px));
  background: var(--swiper-pagination-bullet-inactive-color, var(--gray-light));
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color,var(--white));
}
