.how {
  margin-bottom: 104px;
  color: var(--black);
}

.how__title {
  margin-bottom: 50px;
}

.how__step-list {
  display: flex;
  margin-bottom: 45px;
}

.how__step-item:not(:last-child) {
  margin-right: 85.8px;
}

.how__step-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

.how__step-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
}

.how__step-link:hover {
  color: var(--orange);
}

.how__step-link:active {
  outline: none;
  color: var(--orange-active);
}

.how__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.how__content {
  width: 100%;
  max-width: 758px;
}

.how__content-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.how__content-descr {
  color: var(--black);
}

.how__content-descr:nth-child(3) {
  margin-bottom: 16px;
}

.how__content-btn-more {
  margin-right: 27px;
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease-in-out;
}

.how__content-btn-more:focus {
  background-color: var(--orange-hover);
}

.how__content-btn-more:hover {
  background-color: var(--orange-hover);
}

.how__content-btn-more:active {
  background-color: var(--orange-active);
}

.how__content-btn-contract {
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.how__content-btn-contract:focus {
  color: var(--white);
  background-color: var(--gray-silver);
  border: 1px solid var(--gray-silver);
}

.how__content-btn-contract:hover {
  color: var(--white);
  background-color: var(--gray-silver);
  border: 1px solid var(--gray-silver);
}

.how__content-btn-contract:active {
  color: var(--white);
  background-color: var(--black);
}

.how__content-img {
  width: 100%;
  max-width: 870px;
  margin-top: 9px;
  background: url('../../assets/img/how-we-works-bg.jpg') no-repeat center center / cover;
  border-radius: 32px;
}
