.questions {
  margin-bottom: 99px;
}

.questions__title {
  margin-bottom: 39px;
  color: var(--black);
}

.questions__accordion-list {
  display: flex;
  flex-direction: column;
}

.questions__accordion-item {
  padding: 30px 0;
  outline: none;
  border-top: 1px solid var(--gray-light);
  transition: border 0.3s ease-in-out;
}

.questions__accordion-item:focus,
.questions__accordion-item:focus + .questions__accordion-item {
  border-top: 1px solid var(--orange);
}

.questions__accordion-item:last-child:focus {
  border-bottom: 1px solid var(--orange);
}

.questions__accordion-item:hover,
.questions__accordion-item:hover + .questions__accordion-item {
  border-top: 1px solid var(--orange);
}

.questions__accordion-item:last-child:hover {
  border-bottom: 1px solid var(--orange);
}

.questions__accordion-item:active,
.questions__accordion-item:active + .questions__accordion-item {
  border-top: 1px solid var(--gray-light);
}

.questions__accordion-item:last-child:active {
  border-bottom: 1px solid var(--gray-light);
}

.ui-accordion-header-icon {
  display: none;
}

.ui-icon {
  background-image: none;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.ui-state-default {
  border: none;
  background: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

.ui-widget-content {
  border: none;
  background: none;
}

.questions__accordion-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.questions__accordion-descr {
  max-width: 1003px;
  line-height: 32px;
  color: var(--black);
}

.questions__accordion-descr:not(:last-child) {
  margin-bottom: 32px;
}

.questions__accordion-item:focus .questions__accordion-title {
  color: var(--orange);
}

.questions__accordion-item:hover .questions__accordion-title {
  color: var(--orange);
}

.questions__accordion-item:active .questions__accordion-title {
  color: var(--black);
}

.questions__accordion-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.questions__accordion-icon ellipse {
  fill: var(--gray-light);
  transition: fill 0.3s ease-in-out;
}

.questions__accordion-icon path {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}

.questions__accordion-item:focus .questions__accordion-icon ellipse {
  fill: var(--orange);
}

.questions__accordion-item:focus .questions__accordion-icon path {
  fill: var(--white);
}

.questions__accordion-item:hover .questions__accordion-icon ellipse {
  fill: var(--orange);
}

.questions__accordion-item:hover .questions__accordion-icon path {
  fill: var(--white);
}

.ui-accordion-header-active .questions__accordion-icon ellipse {
  fill: var(--gray-light);
}

.ui-accordion-header-active .questions__accordion-icon path {
  fill: var(--black);
}

.ui-accordion-header-active .questions__accordion-icon {
  transform: rotate(45deg);
}

.questions__accordion-item:last-child {
  border-bottom: 1px solid var(--gray-light);
}
