html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 50px 0;
}

.header__logo {
  width: 137px;
  height: 30px;
  display: block;
  margin-bottom: 25px;
}

.header__link {
  display: inline-block;
  padding-left: 52px;
  background-image: url('../img/arrow.svg');
  background-position: left center;
  background-size: 45px;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;
  margin-bottom: 25px;
}

.heading {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.modules__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
}

.modules__item {
  display: inline-block;
  width: 572px;
  height: 505px;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
  background-color: #FFFFFF;
}

.modules__img {
  width: 100%;
  height: 180px;
}

.modules__item__content-wrapper {
  position: relative;
  width: 522px;
  height: 275px;
  padding: 25px;
}

.modules__item h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}

.modules__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
}

.modules__item:nth-child(1) {
  margin: 0 25px 25px 0;
}

.modules__item:nth-child(3) {
  margin: 0 25px 0 0;
}

.modules__number {
  position: absolute;
  right: 0;
  bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}

.footer__button {
  display: block;
  margin: 0 auto;
  padding: 25px 76px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3F2AFF;
  border: 2px solid #3F2AFF;
  background-color: transparent;
}

.footer__button:active {
  transition: 0.2s;
  background-color: #cacaca;
  color: #281b9c;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  margin-bottom: 50px;
  display: inline-block;
}

.nav {
  margin-bottom: 50px;
}

.nav__link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.nav__link:not(:last-child) {
  margin-right: 25px;
}

.download__link {
  padding-left: 30px;
  background: url('../img/download.png') no-repeat left center / 25px 25px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}
