@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansRegular'), 
       url('../fonts/OpenSans/OpenSansRegular.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansLight'),
       url('../fonts/OpenSans/OpenSansLight.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansSemiBold'),
       url('../fonts/OpenSans/OpenSansSemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  padding: 30px 0;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* -------------------------------------------------- */

:root {
  --gap: 30px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.title {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.section-descr {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.button {
  position: relative;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #3172B9;
  transition: background-color 0.3s ease-in-out;
}

.button::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #71A7E2;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:focus::after {
  opacity: 1;
}

.button:hover {
  background-color: #71A7E2;
}

.button:active {
  background-color: #0E3B6C;
}

.button:active::after {
  opacity: 0;
}

/* Header Start */

.header {
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;
  background-color: #ffffff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  align-self: flex-end;
  max-height: 44px;
}

.header__nav {
  margin-right: 52px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 52.7px;
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71A7E2;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3172B9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172B9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header__button {
  min-width: 150px;
  padding: 15px 35px;
}

/* Header End */
/* Hero Start */

.hero {
  padding: 113px 0 134px 0;
  background: url('../img/hero-bg.jpg') no-repeat center center / contain;
}

.hero__content {
  max-width: 529px;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 26px;
  font-size: 40px;
}

.hero__descr {
  max-width: 452px;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__button {
  min-width: 250px;
  padding: 19px 58px;
  margin-bottom: 14px;
}

.hero__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button-descr {
  padding-left: 27px;
  background: url('../img/ssl.svg') no-repeat left center / 14px 17px;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
}

/* Hero End */
/* Services Start */

.different-title {
  text-align: center;
  margin-bottom: 21px;
}

.services__descr {
  margin: 0 9px 54px 0;
}

.services__card-list {
  justify-content: center;
  flex-wrap: wrap;
}

.services__card-item {
  flex-direction: column;
  align-items: center;
  width: calc((100% - (var(--gap) * 3)) / 4);
  padding: 60px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services__card-item:not(:nth-child(4n)) {
  margin-right: var(--gap);
}

.services__card-item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services__card-icon {
  margin: 0 2px 29px 0;
}

.services__card-icon path {
  fill: #3172B9;
  transition: fill 0.3s ease-in-out;
}

.services__card-item:hover .services__card-icon path {
  fill: #FFFFFF;
}

.services__card-title {
  margin: 0 0 15px 2px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.services__card-item:hover .services__card-title {
  color: #FFFFFF;
}

.services__card-descr {
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__card-item:hover .services__card-descr {
  color: #FFFFFF;
}

.services {
  border-bottom: 1px solid #DADADA;
}

/* Services End */
/* Articles Start */

.articles__title {
  padding-right: 10px;
  margin-bottom: 40px;
}

.articles__list {
  flex-wrap: wrap;
}

.articles__item {
  width: calc((100% - var(--gap)) / 2);
  min-height: 180px;
  margin-bottom: 26px;
}

.articles__item:not(:nth-child(2n)) {
  margin-right: var(--gap);
}

.articles__item:nth-child(3),
.articles__item:nth-child(4) {
  margin-bottom: 0;
}

.blog {
  overflow: hidden;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog__link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.blog__link:focus {
  border-color: #71A7E2;
  background-color: #71A7E2;
}

.blog__link:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.blog__link:active {
  border-color: #0E3B6C;
  background-color: #0E3B6C;
}

.blog__text {
  padding: 19px 150px 38px 30px;
}

.blog__img {
  object-fit: cover;
}

.blog__time {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog__link:focus .blog__time,
.blog__link:hover .blog__time,
.blog__link:active .blog__time {
  color: #ffffff;
}

.blog__title {
  margin-bottom: 12.3px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.blog__link:focus .blog__title,
.blog__link:hover .blog__title,
.blog__link:active .blog__title {
  color: #ffffff;
}

.blog__descr {
  max-width: 210px;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog__link:focus .blog__descr,
.blog__link:hover .blog__descr,
.blog__link:active .blog__descr {
  color: #ffffff;
}

.articles {
  border-bottom: 1px solid #DADADA;
}

/* Articles End */
/* Clients Start */

.clients__title {
  margin-bottom: 42px;
}

.clients__list {
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - (var(--gap) * 2)) / 3);
  min-height: 362px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 51px 50px 32px 36px;
  border: 1px solid rgba(107, 107, 107, 0.3);
  border-radius: 5px;
}

.clients__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients__descr {
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 33px;
  color: #787878;
}

.clients__user {
  width: 100%;
  padding-top: 26px;
  margin-left: 5px;
  align-items: center;
  border-top: 1px solid #DADADA;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__name {
  font-weight: 600;
  font-size: 17px;
  color: #1C1C1C;
}

.clients__post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients {
  border-bottom: 1px solid #DADADA;
}

/* Clients End */
/* Contacts Start */

.contacts__title {
  margin-bottom: 109px;
}

.contacts__address {
  font-style: normal;
}

.contacts__item {
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * 2)) / 3);
  padding-top: 46px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 25px 25px;
}

.contacts__item:not(:last-child) {
  margin-right: var(--gap);
}

.contacts__item--visit {
  background-image: url('../img/visit-us.svg');
}

.contacts__item--call {
  background-image: url('../img/call-us.svg');
}

.contacts__item--email {
  background-image: url('../img/email-us.svg');
}

.contacts__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacts__text {
  max-width: 214px;
}

.contacts__text,
.contacts__link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.contacts__link:focus {
  outline: 1px solid #71A7E2;
}

.contacts__link:hover {
  color: #71A7E2;
}

.contacts__link:active {
  color: #0E3B6C;
  outline: none;
}

.contacts {
  border-bottom: 1px solid #DADADA;
}

/* Contacts End */
/* Join Us Start */

.join-offset {
  padding-top: 87px;
  padding-bottom: 121px;
}

.join__descr {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.join__form {
  padding: 0 55px;
}

.form__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.form__top {
  margin-bottom: 19px;
}

.form__top-left {
  width: 49%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  min-width: 251px;
  min-height: 60px;
  padding: 15px 28px;
  opacity: 0.6;
  border: 1px solid #DADADA;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__top-right {
  width: 49%;
}

.form__input:nth-child(1),
.form__input:nth-child(2) {
  margin-bottom: 19px;
}

.form__input:focus {
  outline: none;
  background-color: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
}

.form__input:hover {
  border-color: #71A7E2;
}

.form__input:active {
  border-color: #0E3B6C;
}

.form__select {
  min-width: 251px;
  min-height: 60px;
  padding: 15px 28px;
  opacity: 0.6;
  border: 1px solid #DADADA;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__select:focus {
  outline: none;
  background-color: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
}

.form__select:hover {
  border-color: #71A7E2;
}

.form__select:active {
  border-color: #0E3B6C;
}

.form__top-textarea {
  width: 100%;
  height: 100%;
  padding: 21px 28px;
  resize: none;
  opacity: 0.6;
  border: 1px solid #DADADA;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__top-textarea:focus {
  outline: none;
  background-color: rgba(113, 167, 226, 0.2);
  border-color: #71A7E2;
}

.form__top-textarea:hover {
  border-color: #71A7E2;
}

.form__top-textarea:active {
  border-color: #0E3B6C;
}


.form__bottom {
  flex-direction: column;
  align-items: flex-end;
}

.form__bottom-wrapper {
  flex-direction: column;
  align-items: center;
}

.join__btn {
  min-width: 230px;
  margin-bottom: 9px;
  padding: 20px 67px;
  border-radius: 50px;
}

.join__user-agreement {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.join__checkbox{
  margin-right: 8px;
}

.join__user-agreement a {
  color: #3172B9;
  border-bottom: 1px solid #317289;
}

.join {
  border-bottom: 1px solid #DADADA;
}

/* Join Us End */
/* Footer Start */

.footer {
  padding-top: 43px;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer__nav {
  margin-right: 55px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav .nav__link {
  color: #787878;
}

.social {
  align-items: flex-start;
}

.social__item:not(:last-child) {
  margin-right: 27px;
}

.social__link,
.social__link-mail {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 14px;
}

.social__icon path {
  fill: #000000;
  transition: fill 0.3s ease-in-out;
}

.social__icon-mail path {
  stroke: #000000;
  transition: stroke 0.3s ease-in-out;
}

.social__link:focus,
.social__link-mail:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social__link:hover svg path {
  fill: #71A7E2; 
}

.social__link:active svg path {
  fill: #3172B9;
}

.social__link:active {
  outline: none;
}

.social__link-mail:hover svg path {
  stroke: #71A7E2;
}

.social__link-mail:active svg path {
  stroke: #3172B9;
  outline: none;
}

.social__link-mail:active {
  outline: none;
}


/* Footer End */