.benefits__row {
  min-height: 456px;
  padding: 80px 165px 76px 165px;
  background-color: var(--white);
}

.benefits__top-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.benefits__img {
  width: 160px;
  height: 142px;
  margin: 22px 31px 0px 0;
  flex-shrink: 0;
  background: url('../../assets/img/benefits-img.png') no-repeat center center / contain;
}

.benefits__content {
  display: flex;
  flex-direction: column;
}

.benefits__title {
  max-width: 475px;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-blue);
}

.benefits__descr {
  line-height: 150%;
  letter-spacing: -0.1px;
  color: var(--gray);
}

.benefits__column-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.benefits__column-bottom {
  width: 100%;
  max-width: 350px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.benefits__column-bottom:not(:last-child) {
  margin-right: 10px;
}

.benefits__bottom-img {
  cursor: pointer;
}

.benefits__first-img path:first-child {
  fill: var(--violet);
  transition: fill 0.3s ease-in-out;
}

.benefits__first-img path:last-child {
  fill: var(--deep-blue);
  transition: fill 0.3s ease-in-out;
}

.benefits__first-img:hover path:first-child,
.benefits__first-img:hover path:last-child {
  fill: var(--pink);
}

.benefits__first-img:active path:first-child,
.benefits__first-img:active path:last-child {
  fill: var(--dark-violet);
}

.benefits__second-img path:not(:last-child) {
  fill: var(--deep-blue);
  transition: fill 0.3s ease-in-out;
}

.benefits__second-img path:last-child {
  fill: var(--violet);
  transition: fill 0.3s ease-in-out;
}

.benefits__second-img:hover path:not(:last-child),
.benefits__second-img:hover path:last-child {
  fill: var(--pink);
}

.benefits__second-img:active path:not(:last-child),
.benefits__second-img:active path:last-child {
  fill: var(--dark-violet);
}

.benefits__third-img path:first-child {
  fill: var(--violet);
  transition: fill 0.3s ease-in-out;
}

.benefits__third-img path:nth-child(2),
.benefits__third-img path:nth-child(3) {
  fill: var(--deep-blue);
  transition: fill 0.3s ease-in-out;
}

.benefits__third-img:hover path:first-child,
.benefits__third-img:hover path:nth-child(2),
.benefits__third-img:hover path:nth-child(3) {
  fill: var(--pink);
}

.benefits__third-img:active path:first-child,
.benefits__third-img:active path:nth-child(2),
.benefits__third-img:active path:nth-child(3) {
  fill: var(--dark-violet);
}

.benefits__bottom-descr {
  max-width: 240px;
  font-weight: 700;
  line-height: 120%;
  color: var(--gray);
}
