.benefits__row {
  min-height: 456px;
  padding: 80px 165px 76px 165px;
  background-color: var(--white);
}

.benefits__top-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.benefits__img {
  width: 160px;
  height: 142px;
  margin: 22px 31px 0px 0;
  flex-shrink: 0;
  background: url('../../assets/img/benefits-img.png') no-repeat center center / contain;
}

.benefits__content {
  display: flex;
  flex-direction: column;
}

.benefits__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-blue);
}

.benefits__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: var(--gray);
}

.benefits__column-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.benifits__column-bottom {
  width: 100%;
  max-width: 350px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.benifits__column-bottom:not(:last-child) {
  margin-right: 10px;
}

.benifits__bottom-descr {
  max-width: 240px;
}
