.courses__row {
  min-height: 1208px;
  padding: 75px 165px 50px 165px;
  background-color: var(--white);
}

.courses__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--deep-blue);
}

.courses__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses__couple-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.courses__card {
  width: 100%;
  max-width: 539px;
  min-height: 480px;
  margin-bottom: 29px;
  background-color: var(--gray-light);
  border-radius: 20px;
}

.courses__card:not(:nth-child(2n)) {
  margin-right: 20px;
}

.courses__img {
  position: relative;
  width: 100%;
  max-width: 539px;
  min-height: 180px;
  border-radius: 20px 20px 0px 0px;
}

.cinema-img {
  background: url('../../assets/img/cinema4d.jpg') no-repeat center center / cover;
}

.blender-img {
  background: url('../../assets/img/blender.jpg') no-repeat center center / cover;
}

.max-img {
  background: url('../../assets/img/3dsmax.jpg') no-repeat center center / cover;
}

.zbrush-img {
  background: url('../../assets/img/zbrush.jpg') no-repeat center center / cover;
}

.courses__duration {
  position: absolute;
  top: 10px;
  right: 3px;
  width: 95px;
  height: 24px;
}

.sixty-ocklock {
  background: url('../../assets/svg/60ocklock.svg') no-repeat center center / cover;
}

.fourty-ocklock {
  background: url('../../assets/svg/40ocklock.svg') no-repeat center center / cover;
}

.eighty-ocklock {
  background: url('../../assets/svg/80ocklock.svg') no-repeat center center / cover;
}

.courses__content {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 31px;
  background-color: var(--gray-light);
  border-radius: 0px 0px 20px 20px;
}

.courses__content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--deep-blue);
}

.courses__content-descr {
  margin-top: 7px;
  line-height: 150%;
  color: var(--gray);
}

.courses__content-btn {
  width: 100%;
  max-width: 202px;
  min-height: 60px;
  line-height: 19px;
  color: var(--white);
  background: var(--violet);
  border-radius: 20px;
}
